<h1>Admin::Items#index</h1>
<h1>商品一覧</h1>

<% @items.each do |item| %>

<p>id</p>
<%= item.id%>

<p>名前</p>
<%= link_to item.name,admin_item_path(item) %>
<p>ジャンル</p>
 <%= item.genre.name%>

<p>価格</p>
<%= item.price%>

<p>ステータス</p>
<%= item.is_active ? '販売中' : '販売停止中'%>

<%end%>
