<h1>Admin::Genres#index</h1>
<h1>新規投稿</h1>
<%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>

  <h4>ジャンル一覧・追加</h4>
  <p>ジャンル名</p>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>
  
<% end %>

<% @genres.each do |genre| %>
<sapn><%= genre.name%></sapn>
<p><%= link_to "編集",edit_admin_genre_path(genre.id)%></p>
<%end%>
