<div class="container">
  <div class="form-horizontal">
    <h2><mark>新規会員登録</mark></h2>
  
    <div class="mt-5">
    <%= form_with model: @customer, url: customer_registration_path, local: true  do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    
      <div class="form-group row">
      <%= f.label "名前", class: "col-3" %>
      <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "(姓) 山田",class: "col-2 me-4" %>
      <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "(名) 花子",class: "col-2 ms-4" %>
      </div>
      
      <div class="form-group mt-3 row">
      <%= f.label "フリガナ", class: "col-3" %>
      <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", placeholder: "(セイ) ヤマダ",class: "col-2 me-4"%>
      <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", placeholder: "(メイ) ハナコ" ,class: "col-2 ms-4"%>
      </div>
       
      <div class="form-group mt-3 row">
      <%= f.label "メールアドレス", class: "col-3" %>
      <%= f.email_field :email, autocomplete: "email", placeholder: "hanako.yanmada@gmail.com", class: "col-2" %>
      </div>
       
      <div class="from-group mt-3 row">
      <%= f.label "郵便番号(ハイフンなし)",class: "col-3"%>
      <%= f.text_field :postalcode, autocomplete: "postalcode", placeholder: "1500041" ,class: "col-2"%>
      </div>
       
      <div class="form-group mt-3 row">
      <%= f.label "住所",class: "col-3"%>
      <%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区神南1-19-11",class: "col-4" %>
      </div>
       
      <div class="form-group mt-3 row">
      <%= f.label "電話番号(ハイフンなし)",class: "col-3"%>
      <%= f.text_field :telephone_number, autocomplete: "telephone_number", placeholder: "0312345678",class: "col-2" %>
      </div>
    
      <div class="form-group mt-3 row">
        <div class="col-3">
        <%= f.label "パスワード",class: ""%>
        (<%= @minimum_password_length%> 文字以上)
        </div>
        <%= f.password_field :password, autocomplete: "new-password",class: "col-2" %>
      </div>
  
      <div class="form-group mt-3 row">
      <%= f.label "パスワード(確認用)",class:"col-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "col-2" %>
      </div>
      
      
      <%= f.submit "新規登録", class: "btn btn-success col-2 mt-4 offset-md-2" %>
        
    <% end %>
    </div>
  
    <div class="mt-5">
      <h3>既に登録済みの方</h3>
      <%= link_to "こちら", new_customer_session_path %>　からログインしてください。
    </div>
  </div>
</div>

